@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #c1f7f5;
}

header{
padding-top: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
   background-color: #000000;
   
    
     
}


.logo{
     display: flex;
     justify-content: center;
     align-items: center;

}





.nav-links{
  display: flex;
  align-items: center;
 color: aliceblue;
  padding: 20px 15px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.nav-links li{
  list-style: none;
  margin: 0 12px;
}
.nav-links li a{
  position: relative;
  background-image: linear-gradient(170deg, rgb(90, 90, 90) 45%, rgb(44, 44, 44) 96%);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
  
}
.nav-links li a:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;

  background: #66B32E;
  border-radius: 12px;
  transition: all 0.7s ease;
}
.nav-links li a:hover:before{  
     color: rgb(131, 131, 131);
  width: 100%;
}
.nav-links li a:hover{  
     background-image: linear-gradient(100deg, rgb(192, 192, 192) 45%, rgb(110, 110, 110) 96%);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
 
}
.nav-links li.center a:before{
  left: 50%;
  transform: translateX(-50%);
}
.nav-links li.upward a:before{
  width: 100%;
  bottom: -5px;
  opacity: 0;
}
.nav-links li.upward a:hover:before{
  bottom: 0px;
  opacity: 1;
}
.nav-links li.forward a:before{
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}
.nav-links li.forward a:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}
