.s1{

    overflow: auto;
    
}





main{
    width: 100%;
    margin: auto 0px;
align-items: center;
 display: flex;
 justify-content: center;
flex-direction: column;


}



.container{
    display: flex;
    align-items: center;
    justify-content: center;
   margin-top: -200px;
   width: auto;
   height: 500px;
   
    overflow: hidden;
}
.container .text{
    position: relative;
    
    font-size: 56px;
    font-weight: 600;
}
.container .text.first-text{
    background-image: linear-gradient(160deg, rgb(90, 90, 90) 45%, rgb(34, 34, 34) 96%);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    padding-right: 8px;
}

.container .text.sec-text{
    background-image: linear-gradient(170deg, #66B32E 45%, #B1CB08 96%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    border-left: 2px solid #66B32E;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    80%, 50%{
        left: calc(100% + 10px);
    }
    100%{
        left: 0%;
    }
}



.sociais {
    
    width: 30px;
    position: fixed;
    bottom: 60px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: var(--light-slate);
    
}

.bntsections {
    
    width: 30px;
    position: fixed;
    bottom: 60px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: var(--light-slate);
   
    
}

.sociais svg{
    color: #66B32E;
    font-weight: 100;
}



.linha-vertical-l {
   margin-left: 15px;
    height: 120px;/*Altura da linha*/
    border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    color: rgb(101, 102, 102);
    margin-top: 20px;
  }

  .linha-vertical-r {
    margin-left: 15px;
     height: 120px;/*Altura da linha*/
     border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
     color: rgb(101, 102, 102);
     margin-top: 20px;
   }


  

.s2{
    
  
  
    
    overflow: auto;
    
}


  h1{
      color: aliceblue;
  }

  h3{
    color: aliceblue;
}
.s3{
  
    overflow: auto;
}

section{
max-width: 1440px;
  min-height: 100%;
  min-height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}


@media (max-width:768px) {

    .s1{
      
    width: 400px;
   
  }
  .nav-links li a{
   font-size: 14px;
  }
  
  .a{
    font-size: 14px;
  }
  .container .text{
      margin-top: -200px;
    font-size: 32px;
  }
  .sociais {
      width: 20px;
      font-weight: bolder;
      stroke-width: 2;
  }
  .bntsections {
      font-size: 8px;
  }

  .linha-vertical-l{
    height: 0;
  }

  .linha-vertical-r{
    height: 0;
  }
  }